.section {
  padding: 130px 0 130px 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  max-width: 900px;
  @media (max-width: 991px) {
    padding: 100px 16px;
  }
  @media (max-width: 576px) {
    padding: 130px 0 24px;
    height: 90vh;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 37.12px;
    margin: 0;
    max-width: 625px;
    width: 100%;
    color: #1c1c21;
    @media (max-width: 1400px) {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.2;
      max-width: 450px;
    }
    @media (max-width: 991px) {
      text-align: center;
      margin: 0 auto;
      padding: 0 16px;
    }
  }
}

.header {
  display: none;
  @media (max-width: 991px) {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    position: relative;
    z-index: 11;
  }
}

.burger {
  --burger-width: 16px;
  --burger-height: 14px;
  --burger-line-height: 2px;

  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--dark);
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &.active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    span {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
