:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --light: #fff;
  --dark: #1c1c21;
  --bg: #f5f5f7;
  --accent: #ff8b37;
  --hover: #ffac70;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: var(--bg);
  color: var(--dark);
  &.lock {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  height: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  min-width: 296px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.2px;
  color: var(--light);
  border-radius: 12px;
  transition: background-color 0.25s ease-in-out;
  @media (max-width: 576px) {
    height: 48px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.24px;
  }
}

@media (min-width: 1200px) {
  .btn:hover {
    background-color: var(--hover);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.star {
  animation-name: blink;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.star1 {
  animation-duration: 2s;
  animation-delay: 0s;
}

.star2 {
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}

.star3 {
  animation-duration: 1s;
  animation-delay: 0s;
}

.star4 {
  animation-duration: 1.5s;
  animation-delay: 0.2s;
}

.star5 {
  animation-duration: 2.3s;
  animation-delay: 0.5s;
}

.star6 {
  animation-duration: 2s;
  animation-delay: 0.5s;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  &__container {
    max-width: 1260px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 32px;
    @media (max-width: 576px) {
      flex-direction: column;
      gap: 24px;
    }
  }
  &__left {
    @media (max-width: 1200px) {
      max-width: 500px;
      width: 100%;
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__content {
    @media (max-width: 576px) {
      width: 100%;
    }
    h1 {
      font-size: 56px;
      font-weight: 600;
      line-height: 64.96px;
      margin: 0 0 64px;
      max-width: 500px;
      @media (max-width: 1200px) {
        font-size: 32px;
        font-weight: 600;
        line-height: 37.12px;
      }
      @media (max-width: 576px) {
        text-align: center;
        margin: 0 0 100px;
      }
    }
    span {
      font-size: 32px;
      font-weight: 600;
      line-height: 37.12px;
      display: block;
      margin-bottom: 8px;
      opacity: 0.5;
      @media (max-width: 576px) {
        font-size: 18px;
        font-weight: 600;
        line-height: 20.88px;
        text-align: center;
      }
    }
    a,
    button {
      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
}

.section.bg {
  &:after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &::after {
    bottom: 0;
    right: 0;
    background-color: #fff3eb;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }
  &::before {
    bottom: 0;
    right: 0;
    background-color: #fff;
  }
}
